<section class="calculation">
 <div class="container">
    <!-- <h2>Получить рассчет стоимости доставки вашего груза</h2> -->
     <form >
         <input type="date">
         <input type="url">
         <select>
     <option>Пункт 1</option>
     <option>Пункт 2</option>
     <option>Пункт 3</option>
     <option>Пункт 4</option>
   
         </select>
         <textarea></textarea>
            <button type="button">button</button>
            <button type="submit">submit</button>
            <button type="reset">reset</button>



        
     </form>

     
 </div>
</section>