<section class="questions">
	<div class="container">
		<div class="template-title">
			<h2>Часто задаваемые вопросы</h2>
		</div>
		<div class="questions__row">
			<div class="accordion" id="accordionQuestions">
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading1">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse1"
							aria-expanded="false"
							aria-controls="collapse1"
						>
							Как рассчитывается стоимость доставки?
						</button>
					</h2>
					<div
						id="collapse1"
						class="accordion-collapse collapse"
						aria-labelledby="heading1"
					>
						<div class="accordion-body">Ответ на вопрос 1.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading2">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse2"
							aria-expanded="false"
							aria-controls="collapse2"
						>
							Как происходит оплата за доставку груза?
						</button>
					</h2>
					<div
						id="collapse2"
						class="accordion-collapse collapse"
						aria-labelledby="heading2"
					>
						<div class="accordion-body">Ответ на вопрос 2.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading3">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse3"
							aria-expanded="false"
							aria-controls="collapse3"
						>
							Как происходит оплата за доставку груза?
						</button>
					</h2>
					<div
						id="collapse3"
						class="accordion-collapse collapse"
						aria-labelledby="heading3"
					>
						<div class="accordion-body">
							Да, мы предоставляем такую услугу, мы можем взять оплату товара в
							Китае на себя. Если у вас нет валютного счёта, то можете оплатить
							товар в гривнах на наш счет
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading4">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse4"
							aria-expanded="false"
							aria-controls="collapse4"
						>
							Можно ли через вас оплатить товар поставщику?
						</button>
					</h2>
					<div
						id="collapse4"
						class="accordion-collapse collapse"
						aria-labelledby="heading4"
					>
						<div class="accordion-body">
							Да, мы предоставляем такую услугу, мы можем взять оплату товара в
							Китае на себя. Если у вас нет валютного счёта, то можете оплатить
							товар в гривнах на наш счет
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading5">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse5"
							aria-expanded="false"
							aria-controls="collapse5"
						>
							В чём особенность КАРГО доставки из Китая
						</button>
					</h2>
					<div
						id="collapse5"
						class="accordion-collapse collapse"
						aria-labelledby="heading5"
					>
						<div class="accordion-body">Ответ на вопрос 5.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading6">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse6"
							aria-expanded="false"
							aria-controls="collapse6"
						>
							Какой срок доставки из Китая?
						</button>
					</h2>
					<div
						id="collapse6"
						class="accordion-collapse collapse"
						aria-labelledby="heading6"
					>
						<div class="accordion-body">Ответ на вопрос 6.</div>
					</div>
				</div>
			</div>
			<form class="questions-form">
				<h3 class="questions-form__title">Остались вопросы?</h3>
				<h6 class="questions-form__subtitle">
					Оставьте заявку и наш менеджер ответит вам в ближайшее время
				</h6>

				<div class="input-box">
					<input type="text" placeholder="Имя *" inputmode="text" />
				</div>
				<div class="input-box">
					<input type="number" placeholder="Телефон *" inputmode="numeric" />
				</div>
				<div class="input-box">
					<input type="text" placeholder="E-mail" inputmode="text" />
				</div>
				<textarea id=""></textarea>
				<a href="#" class="btn btn-lg btn-primary" aria-placeholder="Ваш вопрос"
					>Отправить запрос
					<img src="./assets/img/icon-arrow-left.svg" alt="icon-arrow"
				/></a>
			</form>
		</div>
	</div>
</section>
